Logs
Temp
Assets/Oculus
Assets/_Barking_Dog
Assets/Kitchen_Cooking_FX
Assets/TextMesh Pro
Library
*.swp
.vs
*.cache
build/
Assets/Editor Default Resources/FMOD/
Assets/Gizmos/FMOD*
Assets/Plugins/FMOD*
Assets/ResonanceAudio/Demos/
